body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  width: 1440px;
  height: 3300px;
  padding-left: 40px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
pre {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
header {
  border-bottom: 1px solid #e7e9fc;
  padding-bottom: 24px;
}

.top-line {
  display: flex;
}
img{
  display: block;
}
nav {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.05;
  color: #4d5ae5;
}
.first a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #4d5ae5;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.05;
  padding-left: 156px;
}
.logo {
  padding-top: 24px;
}
.second a {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.05;
}
.nav-text-list {
  list-style-type: none;
  display: flex;
  padding-top: 24px;
  padding-left: 100px;
  gap: 40px;
}

.nav-text-list a {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2em;
  text-decoration: none;
  font-weight: bold;
}
.nav-text-list a:hover,
.nav-text-list a:active,
.nav-text-list:focus {
  color: #404bbf;
}

.address {
  padding-top: 24px;
  padding-left: 300px;
}

.address a {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;
  text-decoration: none;
  padding-right: 40px;
}
.address a:hover,
.address a:focus {
  color: #404bbf;
}

h1 {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-top: 116px;
  margin-bottom: 48px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
button:hover,
button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  padding-bottom: 10px;
}
p {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 2;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 72px;
}
.section-1 {
  background-color: #2e2f42;
  height: 600px;
  padding-top: 72px;
}
ul {
  display: flex;
  gap: 40px;
}
.section-2 ul {
  list-style-type: none;
}
.section-3 ul {
  list-style-type: none;
}
.section-3 {
  background-color: #f4f4fd;
}
.section-4 ul {
  list-style-type: none;
}
.footer {
  background-color: #2e2f42;

  height: 312px;
  top: 2988px;
}
.footer pre {
  color: #f4f4fd;
  padding-left: 124px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;
  font-family: "Roboto", sans-serif;
  padding-top: 16px;
}
.first1 a {
  text-decoration: none;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.05;
}
.second2 a {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.05;
}

.logo2 {
  padding-top: 120px;
  padding-left: 156px;
}

.container2 {
  width: 1128px;
  height: 104px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 220px;
  padding-left: 120px;
  padding-top: 120px;
}
.container2 ul {
  display: flex;
  gap: 30px;
}
.part {
  width: 264px;
}
.card {
  display: flex;
  padding-bottom: 190px;
  justify-content: center;
  gap: 32px;
}
.cards {
  height: 120px;
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
  text-align: center;
  padding-top: 24px;
  border-radius: 0 0 4px 4px;
}

.card2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding-bottom: 120px;
}

.cards2 {
  height: 120px;
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
  padding-left: 15px;
  padding-top: 24px;
  border-radius: 0 0 4px 4px;
}
