body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  width: 1440px;
  height: 3300px;
  padding-left: 40px;
}
.top-line {
  width: 1440px;
  height: 72px;
  display: flex;
}
nav {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.05;
  color: #4d5ae5;
}
.first a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #4d5ae5;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.05;
  padding-left: 156px;
}
.logo {
  padding-top: 24px;
}
.second a {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.05;
}
.nav-text-list {
  list-style-type: none;
  display: flex;
  padding-top: 8px;
  padding-left: 90px;
  gap: 40px;
}

.nav-text-list a {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2em;
  text-decoration: none;
  font-weight: bold;
}
.nav-text-list a:hover,
.nav-text-list a:active,
.nav-text-list:focus {
  color: #404bbf;
}

.address {
  padding-top: 24px;
  padding-left: 300px;
}

.address a {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;
  text-decoration: none;
  padding-right: 40px;
  height: 24px;
  width: 151px;
}
.address a:hover,
.address a:focus {
  color: #404bbf;
}

h1 {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-top: 116px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
  width: 169px;
  height: 56px;
  border-radius: 4px;
}
button:hover,
button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
}
p {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 2;
  text-align: center;
}
.section1 {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  padding-top: 72px;
}
.section2 ul {
  list-style-type: none;
}
.section3 ul {
  list-style-type: none;
}
.section3 {
  background-color: #f4f4fd;
}
.section4 ul {
  list-style-type: none;
}
.footer {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
  top: 2988px;
}
.footer p {
  color: #f4f4fd;
}
.footer a {
  text-decoration: none;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.05;
}
#Studio1 {
  color: #f4f4fd;
}

.container2{
  width: 1128px;
  height: 104px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 220px;
  padding-left: 120px;
  padding-top: 70px;
}
.container2 ul{
  display: flex;
  gap: 30px;
}
.part{
  width: 264px;
  height: 72px;
}